@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #10151D;
  --brand-gold: #EEB134;
  --brand-charcoal: #10151D;
  --brand-nav-grey: #4D5660;
  --brand-slate-blue: #CEDCE4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-gold: var(--brand-gold);
  --color-brand-charcoal: var(--brand-charcoal);
  --color-brand-nav-grey: var(--brand-nav-grey);
  --color-brand-slate-blue: var(--brand-slate-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #10151D;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}